parameters:
   level: 8
   paths:
      - application
   bootstrapFiles:
      - phpstan.bootstrap.php
      - config/CONSTANTS.php
      - config/config-template.php
      - application/model/Query/CONSTANTS.php
      - vendor/director-moav/zimlogger/src/ZimLogger/shortcuts.php
