body{
  background: #06130a;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
a,
a:active,
a:hover{
  color: white;
  text-decoration: none;
}
.input-round-corners {
  border-radius: 10px;
}

.btn-primary{
  background:#144023;
  border-color: #144023;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus{
  background:#277b43;
  border-color: #277b43;
}

.db-element-clickable{
  cursor: pointer;
}

.db-element-clickable:hover{
  cursor: pointer;
  text-decoration:underline;
}

.btn.fa{
    color: white;
}
.btn.fa:hover{
    color: #DDD;
}

.vulcan-page-title{
  font-size:1.1em;
  margin-top:5px;
  margin-bottom: 20px;
}

.nav.nav-tabs{
  font-size: 0.9em;
  border-bottom-style: none;
}
