.table-w-actions tr, .table-w-actions thead th {
    color: white;
    background-color: #194f2b;
}
.table-w-actions.table-striped tbody tr:nth-of-type(odd){
    background-color: #0b2212;
    color: white;
}
.table-w-actions td, .table-w-actions th, .table-dark thead th {
    border-color: #454d55;
}

/*TOBEDELETED20230128*/